 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1531210483974-4f8c1f33fd35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80');">
    <h1 class="m-3">Que voulez-vous faire ?</h1>
    <h2 id="h2-index" class="m-3">Découvrez votre ville</h2>
  </div>

<div class="container container-trip">



  <div class="d-flex pos-photo">
    <div class="container col-6">
       <h2 class="m-3">List des treeps</h2>
        <div>
            <% @trips.each do |trip| %>
           <div class="card-text m-10">
            <%= cl_image_tag trip.photo %>
              <div class="card-text-infos">
                <h2><%= link_to trip.name, trip_path(trip) %></h2>
                <p><%= trip.description.first(200) %>[...]</p>
              </div>
              </div>
            <% end %>
          </div>
        </div>

      <div class="container col-6 resize-img mt-5" style="background-image: url(<%= image_path 'map.png' %>)">

    </div>
  </div>
</div>
