<h1><%= @trip.name %></h1>
<%= link_to "Back to all trips", root_path %>

<h2><%= @trip.description %></h2>
<p>Trip description</p>

<div class="row">
  <div class="col-8">
  <p>blabla</p>

  </div>

  <div class="col-4">
  <p>TimeTable</p>
  </div>

</div>



