<h1>Here are all your bookings</h1>

<% @bookings.each do |booking| %>
  <p>Commence le <%= @ooking.start_date.strftime("%A %d %B") %> et termine le <%= booking.end_date.strftime("%A %d %B") %></p>
  <p><%= booking.trip.name %></p>
  <p></p>
<% end %>


