body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;

}
​
h2 {
  font-size: 22px;
}
​

h2 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

footer {
  position: absolute;
  bottom: 0;
}

.trip-presentation {
  padding-right: 30px;
}

.trip-reservation {
  padding-top: 20px;
}
