
.btn-flat-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #24AFA0;
  transition: background 0.3s ease;
  width: 175px;
}

.btn-flat-green:hover {
  background: #24AFA0;
  color: white;
}

.btn-flat-violet {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3700B3;
  transition: background 0.3s ease;
  width: 175px;
}

.btn-flat-green:hover {
  background: #3700B3;
  color: white;
}

