.flex-btw-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-trip {
  min-height: calc(100vh - 186px)
}

.container-home {
  min-height: calc(100vh - 486px)
}

.h1-description {
  padding-top: 15px;
  padding-left: 15px;
  align-items: flex-end;
  text-align: center;
}

.parag-description {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

#book {
  padding-top: 50px;
  text-align: center;
}

#h2-index {
  color: white;
}


.resize-img {
  overflow: hidden;
  width: 100%;
  height: 700px;
  background-size: cover;
  // position: fixed;
  // right: 3%;
  // top: 10%;
}

.pos-photo {
  position: relative;
}

.light-green {
  background-color:#24afa054;
}
